/* Get fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

:root {
  /* Color variables */
  --background: #2b709b;
  --bg-cards: #184059;
  --border: #5d8aa6;
  --text: #d7d7d9;
  --link: #bf7b3f;
  --hover: #8c2f1b;

  /* Font variables */
  --base-font: 'Lato', sans-serif;

  --thin: 100;
  --normal: 400;
  --bold: 900;
}

/* Reset default browser styles */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--base-font);
  font-weight: var(--normal);
}

body {
  margin: 0;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.667rem;
}

/* Base setup */
body {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'top-bar' 'header' 'main' 'footer';
}

p {
  color: var(--text);
  font-size: 1rem;
  font-weight: var(--normal);
}

h1 {
  font-weight: var(--thin);
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
  color: var(--hover);
}

input {
  width: 100%;
  font: inherit;
  color: var(--text);
  font-size: 1.4rem;
  padding: 0.5rem;
  border: none;
  background: var(--bg-cards);
  border-bottom: 3px solid var(--border);
  transition: all 0.3s ease;
}
/* Styles for input elements */
input:focus {
  outline: var(--border);
  background: var(--background);
  border: none;
}

input.error {
  border: 2px solid crimson;
}

label {
  font-size: 1.6rem;
  color: var(--text);
  font-weight: var(--bold);
  margin-right: 1rem;
}

select {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.2rem 1rem;
  background: #4d5061;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.select {
  position: relative;
}

.custom-arrow {
  display: block;
  background: #3b3c47;
  height: 100%;
  width: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.35rem;

  content: '';
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.7);

  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.7);
  top: 65%;
}

button {
  font-size: 1.4rem;
  margin-top: 2rem;
  border: 4px solid var(--border);
  background-color: var(--border);
  color: var(--text);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(3, 3, 3, 0.39);
  transition: all 0.3s ease;
}

button:hover,
button:active {
  border-color: #426275;
  background-color: #426275;
  box-shadow: 0 2px 4px rgba(3, 3, 3, 0.39);
}

button:disabled {
  background-color: #426275;
  border-color: #426275;
  box-shadow: unset;
  color: #8f8e8e;
}

/* container for setting max width for content 
for x-large screens*/
.container {
  width: 100%;
  max-width: 112.5rem;
}

/* Top-bar only visible when fully implemented
 with michael-h.dk */
.top-bar {
  display: none; /* remove */
  grid-area: top-bar;
  background-color: #2e2e2e;
}

.top-bar .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.top-bar h1 {
  font-weight: var(--normal);
  font-size: 1.8rem;
  margin: 0 0 0.5rem 0;
}

.top-bar a > h1 {
  color: var(--text);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav--links {
  margin-left: 1rem;
}

.nav--links a {
  font-size: 1.4rem;
}

@media screen and (min-width: 46.875rem) {
  .top-bar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

header {
  grid-area: header;
  background-color: var(--bg-cards);
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header h1 {
  font-size: 3rem;
  color: var(--text);
  margin: 0;
}

@media screen and (min-width: 46.875rem) {
  header {
    background-image: url('./header-img.jpg');
    background-size: cover;
    background-position: center center;
    max-height: 60vh;
    padding: 0;
    isolation: isolate;
  }

  header h1 {
    font-size: 8rem;
    font-size: 10vmax;
  }

  header .container {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  header .content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    padding: 0 4rem 0 1rem;
    position: relative;
  }

  header .content::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--bg-cards);
    mix-blend-mode: multiply;
  }
}

main {
  grid-area: main;
  width: 100%;
}

noscript :where(h2, p) {
  text-align: center;
  color: var(--text);
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .center--card {
  width: 95%;
  background-color: var(--bg-cards);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(3, 3, 3, 0.39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--box {
  margin: 1rem 0;
  width: 100%;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.form-control label {
  flex: 0 1;
  /* white-space: nowrap; */
}

.form-control:where(input, select) {
  flex: 1 0;
}

.card--box h2 {
  color: var(--text);
  font-size: 2rem;
}

.card--box-result p {
  font-size: 1.4rem;
}

@media screen and (min-width: 46.875rem) {
  .container .center--card {
    flex-direction: row;
    gap: 4rem;
    align-items: start;
  }
}

footer {
  grid-area: footer;
  padding: 1rem 0.5rem 2rem 0.5rem;
  background-color: #4e4e4e;
}

footer p {
  margin: 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy {
  margin-top: 0.75rem;
}

.social {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer svg {
  width: 2rem;
  margin-left: 2rem;
}

#facebook {
  fill: #3b5998;
}

#twitter {
  fill: #1da1f2;
}

#linkedin {
  fill: #0a66c2;
}

#github {
  fill: #211f1f;
}

@media screen and (min-width: 46.875rem) {
  footer .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
